.App {
  /* text-align: center; */
}

html {
  /* text-align: center; */
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}

body {
  /* text-align: center; */
  /* width: 600px;
  height: 408px; */
}

textarea {
  height: 8rem;
  width: 30rem;
}

/* vvvvv-------------Postcard Shared-------------vvvvv */
.page {
  position: relative;
  width: 600px;
  height: 408px;
  overflow: hidden; 
  border: 1px solid black;
  background-color: white
}

/* vvvvv-------------Postcard Front-------------vvvvv */
.card {
  position: absolute;
    margin: 0;
    padding: 0;
    
left: 600.000084102592px;
top: -21.00003153847359px;
width: 450.00006307694395px;
height: 600.0000841025919px;
    clip: rect(0px, 450.00006307694395, 600.0000841025919, 0px);
    overflow: visible;
    transform: rotate(89.9999999999997deg) scaleX(1) scaleY(1);
    transform-origin: top left;
}

img {
  width: 450.00006307694395px;
        height: 600.0000841025919px;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
}

/* vvvvv-------------Postcard Back-------------vvvvv */
.pcheader {
  position: absolute;
  left: -75.85924713584288px;
  top: 90px;
  transform: rotate(0deg);
  transform-origin: top left;
  width: 300px;
  height: 50px;
  font-family: 'Roboto';
  font-size: 20.533333333333335px;
  font-style: normal;
  font-weight: normal;
  color: black;
  opacity: 1;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: none;
  white-space: pre-wrap;
}

.pcbody {
  position: absolute;
  left: 24px;
  top: 125px;
  transform: rotate(0deg);
  transform-origin: top left;
  width: 320px;
  height: 181px;
  font-family: 'Roboto';
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  color: black;
  opacity: 1;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pccloser {
  position: absolute;
  left: -75.85924713584288px;
  top: 310px;
  transform: rotate(0deg);
  transform-origin: top left;
  width: 300px;
  height: 26px;
  font-family: 'Roboto';
  font-size: 20.533333333333335px;
  font-style: normal;
  font-weight: normal;
  color: black;
  opacity: 1;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: none;
  white-space: pre-wrap;
}

.pcname {
  position: absolute;
  left: 24px;
  top: 350px;
  transform: rotate(0deg);
  transform-origin: top left;
  width: 300px;
  height: 26px;
  font-family: 'Roboto';
  font-size: 20.533333333333335px;
  font-style: normal;
  font-weight: normal;
  color: black;
  opacity: 1;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: none;
  white-space: pre-wrap;
}

/* vvvvv---new postcard front html---vvvvv */

/* <html>
<head>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            width: 600px;
            height: 408px;
        }

        .page {
            position: relative;
            width: 600px;
            height: 408px;
            overflow: hidden;

            
        }
    </style>

    
</head>
<body>
    
    <div class="page" style="background-color: white">
        
<div
style="
    position: absolute;
    margin: 0;
    padding: 0;
    
left: 600.000084102592px;
top: -21.00003153847359px;
width: 450.00006307694395px;
height: 600.0000841025919px;
    clip: rect(0px, 450.00006307694395, 600.0000841025919, 0px);
    overflow: visible;
    transform: rotate(89.9999999999997deg) scaleX(1) scaleY(1);
    transform-origin: top left;
"
>
<img
    src="https://images.unsplash.com/photo-1580493113011-ad79f792a7c2?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwxMTY5OTZ8MHwxfHNlYXJjaHwxfHxjYW52YXN8ZW58MHx8fHwxNjc3NzQ4MDkw&ixlib=rb-4.0.3&q=80"
    style="
        width: 450.00006307694395px;
        height: 600.0000841025919px;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
        filter:
blur(0px)
brightness(1);
    "
/>

</div>

    </div>

</body>
</html> */